src/main/mule/max-the-mule-broker-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="max-the-mule-broker-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="max-the-mule-broker-api-config" raml="max-the-mule-broker-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e38f664f-cfbb-4c87-bd23-c6f07e9eab3f">
		<db:my-sql-connection host="mysql-baservices.cvfzfbm5lfp0.us-west-2.rds.amazonaws.com" port="3306" user="${db.username}" password="${db.password}" database="TRAINING" />
	</db:config>
	<flow name="max-the-mule-broker-api-main">
        <http:listener config-ref="max-the-mule-broker-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="max-the-mule-broker-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="max-the-mule-broker-api-console">
        <http:listener config-ref="max-the-mule-broker-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="max-the-mule-broker-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\orders:max-the-mule-broker-api-config">
		<set-variable value="#[attributes.queryParams.'net-value']" doc:name="Set netValue Variable" doc:id="e4fe49fe-f318-4cd1-af87-b2a508417e4f" variableName="netValue"/>
		<choice doc:name="Choice" doc:id="7aa9651c-56c0-481d-b909-fbcef3135f4e" >
			<when expression="#[isEmpty(attributes.queryParams.status)]" >
				<db:select doc:name="Select All Orders" doc:id="520a0972-5994-46f3-8e4c-6c0e1761d439" config-ref="Database_Config">
					<db:sql>SELECT * FROM ORDERS_HISTORY;</db:sql>
				</db:select>
			</when>
			<otherwise>
				<validation:matches-regex doc:name="Validate status" doc:id="841d194d-f82a-4af3-8ef5-25f94efe3841" value="#[attributes.queryParams.status]" regex="(filled|canceled|pending)" message="#[lower(attributes.queryParams.status)]" />
				<db:select doc:name="Select Order By Status" doc:id="2b6a7d0f-3cff-4cf5-85ef-e42bc285b606" config-ref="Database_Config">
			<db:sql>SELECT * FROM ORDERS_HISTORY WHERE STATUS = :status;</db:sql>
					<db:input-parameters ><![CDATA[#[ {"status" : attributes.queryParams.status }]]]></db:input-parameters>
		</db:select>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="125ab17c-fbe2-420a-875a-71efae8343b2">
			<when expression='#[vars.netValue == "true"]'>
				<ee:transform doc:name="To Json with Net Value" doc:id="5d393603-17ca-495f-8cdf-82696622afd6">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
fun netValue(price, quantity) = price*quantity 
---
payload map (order) -> 
	order ++ { 'NET_VALUE': netValue(order.PRICE, order.QUANTITY) }]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="To Json" doc:id="62869af5-961e-469b-9230-f7d516c4b505">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
    </flow>
	<flow name="post:\orders:application\json:max-the-mule-broker-api-config">
        <flow-ref doc:name="New Order Validation Flow" doc:id="e9c8d7d3-1c61-4100-94cc-a759ee74632b" name="validate-new-order-request"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="dd32cf6f-bb8f-4575-bbb6-0b9f135be73d" doc:name="Map To Query Parameters">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
fun timeNow() = now() as String {format: "yyyy-MM-dd'T'HH:mm:ss"}
---
{
	'date' : timeNow(),
	'action': upper(payload.ACTION), 
	'symbol' : payload.SYMBOL, 
	'quantity' : payload.QUANTITY, 
	'price' : payload.PRICE
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="Database insert flow reference" doc:id="60ccc70d-7876-4404-86fa-70f691b38946" name="insert-new-order-db"/>
		<ee:transform doc:name="To Json" doc:id="b9400d42-6947-4297-9975-aaaf18a7ae23">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ "message": "order created" }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<flow name="insert-new-order-db" doc:id="82e4e811-b4ec-4aa5-8202-8842e9699f4a" >
		<db:insert doc:name="Insert new order" doc:id="92e964b3-0169-4df3-89e8-9af5c39b7973" config-ref="Database_Config">
			<db:sql>INSERT INTO ORDERS_HISTORY(ORDER_DATE, ACTION,STATUS, SYMBOL, QUANTITY, PRICE) VALUES (:date, :action, 'Pending', :symbol, :quantity, :price);</db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
	</flow>
	<flow name="validate-new-order-request" doc:id="ab2b5a8d-ce43-4b17-9c35-2653ad8470c3">
		<validation:is-true doc:name="Action validation" doc:id="314892dd-8043-4fe9-9d7d-9061f79b809f" expression='#[["buy", "sell"] contains lower(payload.ACTION)]'/>
		<validation:matches-regex doc:name="Symbol validation" doc:id="4958c489-625e-4269-8d92-e31a2cbd7c57" value="#[payload.SYMBOL]" regex="[A-Z]{1,15}" />
		<validation:is-number numberType="FLOAT" doc:name="Price validation" doc:id="76db2940-fc3a-4074-82b3-c3d9d9d8feca" value="#[payload.PRICE]" minValue="0" message="PRICE should be a non negative float number" />
		<validation:is-number numberType="INTEGER" doc:name="Quantity validation" doc:id="09b59201-d677-40b4-b637-3223b72c2fc7" value="#[payload.QUANTITY]" minValue="1" message="QUANTITY should be a positive integer number" />
	</flow>
</mule>
